
{% extends "email_base.html" %}
{% load i18n %}

{% block email_body %}
  {% autoescape off %}
	{% blocktrans with app_url=app_url app_label=app_label %}
      <p>Hello from {{ app_label }}!</p>

      <p>
        You're receiving this e-mail because you or someone else
        has requested a password for your user account at <a href="{{ app_url }}">{{ app_label }}</a>.
        It can be safely ignored if you did not request a password reset.
        Click the link below to reset your password.{% endblocktrans %}
      </p>

      <a href="{{app_url}}?token={{uid}}-{{token}}">Reset password</a>
      <p>
      {% blocktrans with app_label=app_label %}
          Thank you for using {{ app_label }}!
      {% endblocktrans %}
      </p>
  {% endautoescape %}
{% endblock %}

